## üè° An√°lise de Oportunidades no Mercado Imobili√°rio ‚Äî Previs√£o e Clusteriza√ß√£o de Estados para Identifica√ß√£o de Tend√™ncias e Crescimento

<div style="text-align: center; margin-bottom: 20px;">
  <img src="../03-Recursos/analysis_image.png" style="width: 600px; display: block; margin-left: auto; margin-right: auto;"/>
</div>

## SUM√ÅRIO <a id="sum√°rio"></a>

[1. Introdu√ß√£o üöÄ](#1-introdu√ß√£o) <br>

[2. Objetivo do Projeto üéØ](#2-objetivo-do-projeto) <br>

[3. Importa√ß√£o de Bibliotecas e Configura√ß√µes Iniciais üìö](#3-importa√ß√£o-de-bibliotecas-e-configura√ß√µes-iniciais) <br>

[4. Coleta e Carregamento dos Dados üì•](#4-coleta-e-carregamento-dos-dados) <br>

[5. Pr√©-processamento e Consolida√ß√£o dos Dados üîÑ](#5-pr√©-processamento-e-consolida√ß√£o-dos-dados) <br>

[6. An√°lise Explorat√≥ria de Dados (EDA) üìä](#6-an√°lise-explorat√≥ria-de-dados-eda) <br>

[7. Previs√£o Temporal de Estados para 2021-2022 üîÆ](#7-previs√£o-temporal-de-estados-para-2021-2022) <br>

[8. Clusteriza√ß√£o e An√°lise de Segmenta√ß√£o üîç](#8-clusteriza√ß√£o-e-an√°lise-de-segmenta√ß√£o) <br>

[9. Resultados e Visualiza√ß√£o dos Clusters üìà](#9-resultados-e-visualiza√ß√£o-dos-clusters) <br>

[10. Conclus√£o e Recomenda√ß√µes üèÅ](#10-conclus√£o-e-recomenda√ß√µes) <br>

## **1. Introdu√ß√£o üöÄ** <a id="1-introdu√ß√£o"></a>  
[Voltar ao Sum√°rio](#sum√°rio)  

No mercado imobili√°rio, compreender o comportamento regional e as tend√™ncias de crescimento √© essencial para antecipar oportunidades de neg√≥cio e tomar decis√µes estrat√©gicas. Esse setor, altamente din√¢mico, √© influenciado por fatores econ√¥micos, demogr√°ficos e regionais, o que torna a an√°lise de dados uma ferramenta indispens√°vel para construtoras, investidores e gestores.  

A previs√£o de crescimento e a an√°lise de segmenta√ß√£o regional surgem como abordagens fundamentais para identificar quais estados apresentam satura√ß√£o ou potencial futuro. A partir dessas an√°lises, empresas podem direcionar seus esfor√ßos de expans√£o e planejamento, maximizando o retorno sobre investimentos e minimizando riscos.  

Neste projeto, utilizaremos dados de empresas de constru√ß√£o civil e proje√ß√µes populacionais para realizar uma an√°lise temporal (2007 a 2022) e identificar oportunidades regionais por meio de t√©cnicas de clusteriza√ß√£o. Ao integrar a previs√£o e a segmenta√ß√£o, buscamos fornecer insights estrat√©gicos que podem orientar decis√µes sobre aloca√ß√£o de recursos e identifica√ß√£o de novas √°reas de crescimento.

## **2. Objetivo do Projeto üéØ** <a id="2-objetivo-do-projeto"></a>  
[Voltar ao Sum√°rio](#sum√°rio)  

O objetivo deste projeto √© analisar as tend√™ncias regionais no setor de constru√ß√£o civil brasileiro e identificar estados que apresentam satura√ß√£o ou oportunidades de crescimento. A an√°lise ser√° fundamentada na previs√£o temporal do n√∫mero de empresas ativas e na clusteriza√ß√£o dos estados com base em vari√°veis relevantes de neg√≥cio. Essa abordagem permitir√° orientar decis√µes estrat√©gicas para o setor imobili√°rio, especialmente em empresas que buscam otimizar investimentos regionais.

Para atingir esse objetivo, o projeto ser√° estruturado nas seguintes etapas principais:

1. **Coleta e Pr√©-processamento dos Dados:** Obter dados de empresas de constru√ß√£o civil e proje√ß√µes populacionais, garantindo a integridade e prepara√ß√£o adequada para an√°lise.  

2. **Previs√£o Temporal (2021-2022):** Utilizar t√©cnicas de s√©ries temporais para estimar os valores de 2021 e 2022, permitindo a an√°lise prospectiva e identificando padr√µes de crescimento ou retra√ß√£o em diferentes estados.

3. **Clusteriza√ß√£o de Estados:** Agrupar os estados brasileiros com base em caracter√≠sticas econ√¥micas, demogr√°ficas e de neg√≥cios para identificar padr√µes regionais semelhantes. A clusteriza√ß√£o permitir√° destacar estados saturados e aqueles com potencial de crescimento.  

4. **Visualiza√ß√£o e Insights:** Fornecer uma an√°lise visual clara que facilite a tomada de decis√µes estrat√©gicas relacionadas a investimentos, expans√£o de neg√≥cios e aloca√ß√£o de recursos no setor imobili√°rio.

Ao final, espera-se que o projeto entregue insights acion√°veis, permitindo a identifica√ß√£o de estados promissores e oferecendo recomenda√ß√µes que auxiliem construtoras, investidores e gestores a direcionar suas estrat√©gias de forma otimizada e baseada em dados.

## **3. Importa√ß√£o de Bibliotecas e Configura√ß√µes Iniciais üìö** <a id="3-importa√ß√£o-de-bibliotecas-e-configura√ß√µes-iniciais"></a>  
[Voltar ao Sum√°rio](#sum√°rio)  

Nesta se√ß√£o, importaremos as bibliotecas fundamentais para manipula√ß√£o e an√°lise de dados, visualiza√ß√£o e modelagem preditiva. Al√©m disso, definiremos configura√ß√µes iniciais para garantir a reprodutibilidade dos resultados e a consist√™ncia nas visualiza√ß√µes ao longo do projeto.

In [1]:
# Importando as bibliotecas necess√°rias
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import requests  
import re  
import os
import warnings
from concurrent.futures import ThreadPoolExecutor 
from platform import python_version

# Pr√©-processamento de dados
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# Clusteriza√ß√£o
from sklearn.cluster import KMeans

# M√©tricas de Clusteriza√ß√£o
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score

# S√©ries Temporais
from statsmodels.tsa.arima.model import ARIMA  
from statsmodels.tsa.api import VAR  

# Configura√ß√£o de estilo para gr√°ficos
sns.set(style="whitegrid")

# Supress√£o de avisos desnecess√°rios
warnings.filterwarnings("ignore", category=RuntimeWarning)  
warnings.filterwarnings("ignore", category=UserWarning)     

# Exibi√ß√£o das vers√µes das bibliotecas e do Python
library_versions = {
    "Pandas": pd.__version__,
    "NumPy": np.__version__,
    "Matplotlib": matplotlib.__version__,
    "Seaborn": sns.__version__,
}

print("Vers√µes das Bibliotecas:\n")
print(f"{'Biblioteca':<20} | {'Vers√£o':>10}")
for nome, versao in library_versions.items():
    print(f"{nome:<20} | {versao:>10}")

print("\nVers√£o do Python:")
print(python_version())

Vers√µes das Bibliotecas:

Biblioteca           |     Vers√£o
Pandas               |      2.2.2
NumPy                |     1.26.4
Matplotlib           |     3.10.0
Seaborn              |     0.13.2

Vers√£o do Python:
3.12.7

## **4. Coleta e Carregamento dos Dados üì•** <a id="4-coleta-e-carregamento-dos-dados"></a>  
[Voltar ao Sum√°rio](#sum√°rio)  

Nesta etapa, faremos a coleta dos dados necess√°rios para o projeto e organizaremos as informa√ß√µes na **camada raw**. O processo ser√° dividido em tr√™s subetapas principais:

### **4.1 Coleta dos dados de empresas de constru√ß√£o civil:**  
Utilizando a **API do IBGE (SIDRA)**, extrairemos os dados da **Tabela 1757**, que cont√©m informa√ß√µes sobre o n√∫mero de empresas ativas, custos, receita, pessoal ocupado, entre outras vari√°veis econ√¥micas.  
Para essa etapa, implementamos um processo customizado de requisi√ß√£o utilizando a biblioteca **`requests`** do Python para realizar as chamadas HTTP diretamente √† API do SIDRA. Os dados coletados ser√£o armazenados no formato bruto (raw) para posterior pr√©-processamento.

### **4.2 Coleta dos dados populacionais:**  
Baixaremos os dados de proje√ß√µes populacionais disponibilizados pelo IBGE em formato **XLSX** ou **ODS**. Esses dados fornecem informa√ß√µes detalhadas por idade simples.

### **4.3 Armazenamento inicial:**  
As duas tabelas coletadas ser√£o salvas na **camada raw**, preservando a extra√ß√£o original e garantindo a integridade dos dados. Posteriormente, faremos o pr√©-processamento para consolidar essas informa√ß√µes na **camada processed**, onde ser√£o ajustadas e preparadas para an√°lise temporal e clusteriza√ß√£o.

**Fluxo esperado:**  
- Camada Raw ‚Üí Camada Processed  

Essa estrutura modular n√£o apenas facilita a reprodutibilidade dos resultados, mas tamb√©m preserva a extra√ß√£o bruta e estabelece camadas de informa√ß√£o, simulando situa√ß√µes reais de projetos em ambientes de trabalho.

### **4.1 Coleta dos Dados de Empresas de Constru√ß√£o Civil** üìä <a id="4.1-coleta-dos-dados-de-empresas"></a>  

Nesta etapa, realizamos a coleta automatizada dos dados das **empresas de constru√ß√£o civil** por meio da **API do IBGE (SIDRA)**. Utilizamos a **Tabela 1757**, que fornece informa√ß√µes detalhadas sobre o n√∫mero de empresas ativas, o pessoal ocupado, os custos operacionais e a receita bruta, entre outras vari√°veis econ√¥micas importantes.

### **Processo de Coleta**
- Automatizamos o processo utilizando **requisi√ß√µes HTTP** por meio da biblioteca **`requests`**, conforme solicitado no case, sem o uso de bibliotecas prontas.
- A coleta foi dividida em blocos de per√≠odos de 4 anos (2007-2022), garantindo maior performance e robustez no processo de extra√ß√£o.
- As vari√°veis selecionadas foram coletadas no n√≠vel geogr√°fico de **estados (N3)** e para empresas com **5 ou mais funcion√°rios**. 

### **Vari√°veis Coletadas**
Optamos por armazenar todas as vari√°veis dispon√≠veis na **Tabela 1757**, sem filtrar inicialmente, na **camada raw**. Algumas vari√°veis principais incluem:  
- **N√∫mero de empresas ativas:** Medi√ß√£o da presen√ßa econ√¥mica no setor de constru√ß√£o.  
- **Pessoal ocupado:** Indicador da for√ßa de trabalho empregada nas empresas.  
- **Custos totais e despesas:** Identifica√ß√£o de gargalos financeiros.  
- **Receita bruta total:** Avalia√ß√£o do desempenho econ√¥mico do setor.  

As demais vari√°veis, mesmo que n√£o sejam diretamente utilizadas nas an√°lises iniciais, ser√£o preservadas na **camada raw** para futuras consultas.

### **Por que essa abordagem?**
1. **Performance otimizada:** A coleta foi dividida em blocos de per√≠odos e feita por meio de m√∫ltiplas requisi√ß√µes simult√¢neas, garantindo efici√™ncia e evitando falhas na conex√£o com a API.  
2. **Organiza√ß√£o e flexibilidade:** O processo modular nos permite reexecutar a coleta de vari√°veis ou per√≠odos espec√≠ficos, se necess√°rio.  
3. **Reprodutibilidade:** Os dados brutos foram salvos na **camada raw**, mantendo a integridade da extra√ß√£o original.  

### **Fluxo de Coleta e Salvamento**
1. Realizamos as requisi√ß√µes HTTP por per√≠odos e armazenamos os resultados em um DataFrame consolidado.  
2. As vari√°veis coletadas foram organizadas por meio de uma tabela pivotada, onde cada vari√°vel se tornou uma coluna.  
3. Renomeamos as colunas utilizando o formato **snake_case** para garantir clareza e boas pr√°ticas de codifica√ß√£o.  
4. Salvamos o resultado final na **camada raw**, sem realizar nenhum pr√©-processamento adicional.  

**Arquivo salvo:**  
üìÇ `01-Base-de-Dados/raw/dados_empresas_raw.csv`  

**Fluxo esperado:**  
- Camada Raw (dados brutos) ‚Üí Processamento e limpeza na camada processed  

Essa abordagem modular n√£o apenas facilita a reprodutibilidade dos resultados, mas tamb√©m garante que qualquer ajuste ou an√°lise adicional possa ser feito com base nos dados originais.

In [2]:
def get_sidra_data(tabela, variaveis, periodo, nivel_territorial, faixa_pessoal):
    """
    Fun√ß√£o para coletar dados da API do SIDRA/IBGE.

    Par√¢metros:
    - tabela (int): C√≥digo da tabela do SIDRA (ex: 1757 para empresas de constru√ß√£o).
    - variaveis (list): Lista de c√≥digos das vari√°veis desejadas.
    - periodo (str): Intervalo de anos no formato "YYYY-YYYY" (ex: "2007-2010").
    - nivel_territorial (int): N√≠vel geogr√°fico dos dados (3 = estados).
    - faixa_pessoal (int): Faixa de pessoal ocupado (104030 = 5 ou mais pessoas).

    Retorna:
    - pd.DataFrame: DataFrame com os dados coletados.
    """
    # Constru√ß√£o da URL da API com base nos par√¢metros fornecidos
    url = f"https://apisidra.ibge.gov.br/values/t/{tabela}/n{nivel_territorial}/all/v/{','.join(map(str, variaveis))}/p/{periodo}/c319/{faixa_pessoal}"
    try:
        # Faz a requisi√ß√£o HTTP GET √† API
        response = requests.get(url)
        response.raise_for_status()  # Verifica se a requisi√ß√£o foi bem-sucedida

        # Converte a resposta JSON em DataFrame, ignorando a linha de cabe√ßalho [0]
        dados = response.json()
        df = pd.DataFrame.from_records(dados[1:], columns=["D1N", "D3N", "D2N", "V"])  # Captura os dados relevantes

        # Renomeia as colunas para melhor entendimento
        df.columns = ["estado", "ano", "variavel", "valor"]

        # Converte as colunas de ano e valor para o formato num√©rico
        df["ano"] = pd.to_numeric(df["ano"], errors="coerce")
        df["valor"] = pd.to_numeric(df["valor"], errors="coerce").fillna(0)

        return df  # Retorna o DataFrame coletado

    # Captura erros de requisi√ß√£o HTTP
    except requests.exceptions.RequestException as e:
        print(f"‚ùå Erro na requisi√ß√£o: {e}")
        return pd.DataFrame()  # Retorna um DataFrame vazio em caso de erro

def coletar_em_blocos(tabela, variaveis, periodos, nivel_territorial, faixa_pessoal):
    """
    Fun√ß√£o para coletar dados em blocos de per√≠odos usando m√∫ltiplas requisi√ß√µes simult√¢neas.

    Par√¢metros:
    - tabela (int): C√≥digo da tabela do SIDRA.
    - variaveis (list): Lista de c√≥digos das vari√°veis desejadas.
    - periodos (list): Lista de intervalos de tempo no formato "YYYY-YYYY".
    - nivel_territorial (int): N√≠vel geogr√°fico (3 = estados).
    - faixa_pessoal (int): Faixa de pessoal ocupado (104030 = 5 ou mais pessoas).

    Retorna:
    - pd.DataFrame: DataFrame consolidado com os dados de todos os per√≠odos.
    """
    with ThreadPoolExecutor() as executor:
        # Executa a coleta dos dados em paralelo, um bloco de anos por vez
        resultados = executor.map(
            lambda p: get_sidra_data(tabela, variaveis, p, nivel_territorial, faixa_pessoal),
            periodos
        )
    # Concatena os resultados de todas as requisi√ß√µes em um √∫nico DataFrame
    return pd.concat(resultados, ignore_index=True)

def pivotar_dados(df):
    """
    Organiza os dados no formato de tabela pivotada, com uma coluna para cada vari√°vel.

    Par√¢metros:
    - df (pd.DataFrame): DataFrame contendo os dados coletados.

    Retorna:
    - pd.DataFrame: DataFrame pivotado, pronto para a an√°lise.
    """
    # Cria uma tabela pivotada onde cada vari√°vel se torna uma coluna
    df_pivot = df.pivot_table(values="valor", index=["estado", "ano"], columns="variavel").reset_index()

    # Remove o nome do √≠ndice gerado automaticamente
    df_pivot.columns.name = None  
    return df_pivot  # Retorna o DataFrame pivotado

def renomear_colunas_textuais(df_pivot):
    """
    Renomeia os nomes descritivos das colunas para o formato snake_case, mantendo o indicador (mil_reais) nas vari√°veis financeiras.

    Par√¢metros:
    - df_pivot (pd.DataFrame): DataFrame pivotado.

    Retorna:
    - pd.DataFrame: DataFrame com as colunas devidamente renomeadas.
    """
    nome_mapeamento = {
        "Consumo de materiais de constru√ß√£o": "materiais_construcao_mil_reais",
        "Consumo intermedi√°rio - total": "consumo_intermediario_mil_reais",
        "Custos de incorpora√ß√µes de im√≥veis constru√≠dos por terceiros - material de constru√ß√£o": "materiais_terceiros_mil_reais",
        "N√∫mero de empresas ativas": "numero_empresas_ativas",
        "Pessoal ocupado em 31/12": "pessoal_ocupado",
        "Outros custos e despesas": "outros_custos_despesas_mil_reais",
        "Receita bruta total": "receita_bruta_total_mil_reais",
        "Receita l√≠quida": "receita_liquida_mil_reais",
        "Sal√°rios, retiradas e outras remunera√ß√µes": "remuneracoes_mil_reais",
        "Total de custos das obras e/ou servi√ßos da constru√ß√£o": "custos_obras_servicos_mil_reais",
        "Total de custos de incorpora√ß√µes de im√≥veis constru√≠dos por terceiros": "custos_terceiros_mil_reais",
        "Total de custos e despesas": "custos_totais_despesas_mil_reais",
        "Total de gastos de pessoal": "gastos_pessoal_mil_reais",
        "Valor bruto da produ√ß√£o": "valor_bruto_producao_mil_reais",
        "Valor das incorpora√ß√µes, obras e/ou servi√ßos da constru√ß√£o": "valor_obras_servicos_mil_reais",
        "Valor adicionado": "valor_adicionado_mil_reais"
    }

    # Renomeia as colunas utilizando o mapeamento
    df_pivot = df_pivot.rename(columns=lambda x: nome_mapeamento.get(x, x))
    return df_pivot  # Retorna o DataFrame com as colunas renomeadas

# Lista de vari√°veis em valores absolutos (sem percentuais)
variaveis_absolutas = [
    410, 631, 838, 1235, 673, 1236, 1237, 411, 412, 
    1238, 1239, 1240, 1241, 637, 634, 1242
]

# Divis√£o do per√≠odo de 2007 a 2022 em blocos menores para otimizar a coleta
periodos = ["2007-2010", "2011-2014", "2015-2018", "2019-2022"]

# Etapa 1: Coleta dos dados em blocos e combina√ß√£o dos resultados
df_completo = coletar_em_blocos(tabela=1757, variaveis=variaveis_absolutas, periodos=periodos, nivel_territorial=3, faixa_pessoal=104030)

# Etapa 2: Pivotar os dados para transformar as vari√°veis em colunas
df_completo = pivotar_dados(df_completo)

# Etapa 3: Renomear as colunas para o formato snake_case com nomes descritivos
df_completo = renomear_colunas_textuais(df_completo)

# Etapa 4: Salvar o arquivo final na camada raw
df_completo.to_csv("../01-Base-de-Dados/raw/dados_empresas_raw.csv", index=False)
print("‚úÖ Dados organizados e renomeados corretamente salvos no arquivo '01-Base-de-Dados/raw/dados_empresas_raw.csv'!")

‚úÖ Dados organizados e renomeados corretamente salvos no arquivo '01-Base-de-Dados/raw/dados_empresas_raw.csv'!

### **4.2 Coleta dos Dados Populacionais** üßë‚Äçü§ù‚Äçüßë <a id="4.2-coleta-dos-dados-populacionais"></a>  

Nesta etapa, realizamos a coleta automatizada dos dados de proje√ß√µes populacionais fornecidos pelo **IBGE** no formato **XLSX**. Estes dados s√£o fundamentais para o c√°lculo da **raz√£o entre consumidores e empresas** na an√°lise de mercado imobili√°rio. 

### **Processo de Coleta**
- Automatizamos o processo de download utilizando a biblioteca **`requests`**, garantindo a integridade e a reprodutibilidade da coleta.
- O arquivo bruto de proje√ß√µes populacionais foi salvo na **camada raw**, preservando os dados originais, sem qualquer pr√©-processamento.

### **Por que n√£o realizamos ajustes nesta etapa?**
Apenas armazenamos o arquivo bruto nesta etapa para manter a integridade dos dados originais. O pr√©-processamento, incluindo a sele√ß√£o da faixa et√°ria de 38 a 58 anos e a interpola√ß√£o, ser√° feito na **camada processed** em etapas posteriores. Essa separa√ß√£o clara entre coleta e processamento reflete boas pr√°ticas em projetos de ci√™ncia de dados, garantindo reprodutibilidade e controle de vers√µes.

**Arquivo salvo:**  
üìÇ `01-Base-de-Dados/raw/dados_populacionais_raw.xlsx`

**Fluxo esperado:**  
- Camada Raw (dados populacionais brutos) ‚Üí Interpola√ß√£o e sele√ß√£o de faixa et√°ria (na camada processed)

Essa abordagem modular nos permite preservar os dados brutos e garantir que quaisquer ajustes futuros possam ser feitos de forma controlada e organizada.

In [3]:
def baixar_dados_populacionais():
    """
    Fun√ß√£o para baixar o arquivo de proje√ß√µes populacionais do IBGE.
    O arquivo ser√° salvo na pasta raw, garantindo a integridade dos dados brutos.
    """
    # URL direta para o arquivo XLSX
    url = "https://ftp.ibge.gov.br/Projecao_da_Populacao/Projecao_da_Populacao_2024/projecoes_2024_tab1_idade_simples.xlsx"
    destino = "../01-Base-de-Dados/raw/dados_populacionais_raw.xlsx"

    try:
        print("üîÑ Baixando os dados populacionais do IBGE...")
        response = requests.get(url)
        response.raise_for_status()  # Verifica se a requisi√ß√£o foi bem-sucedida

        # Cria a pasta raw, se n√£o existir
        os.makedirs(os.path.dirname(destino), exist_ok=True)

        # Salva o conte√∫do baixado no arquivo XLSX
        with open(destino, 'wb') as arquivo:
            arquivo.write(response.content)

        print("‚úÖ Download conclu√≠do com sucesso! Dados salvos em '01-Base-de-Dados/raw/dados_populacionais_raw.xlsx'.")

    except requests.exceptions.RequestException as e:
        print(f"‚ùå Erro ao baixar o arquivo: {e}")

# Executa a fun√ß√£o de download
baixar_dados_populacionais()

üîÑ Baixando os dados populacionais do IBGE...
‚úÖ Download conclu√≠do com sucesso! Dados salvos em '01-Base-de-Dados/raw/dados_populacionais_raw.xlsx'.

## **5. Pr√©-processamento e Consolida√ß√£o dos Dados üîÑ** <a id="5-pr√©-processamento-e-consolida√ß√£o-dos-dados"></a>  
[Voltar ao Sum√°rio](#sum√°rio)  

Nesta etapa, realizaremos o **pr√©-processamento dos dados brutos** armazenados na camada **raw** e consolidaremos as informa√ß√µes na camada **processed**. O objetivo √© garantir que os dados estejam limpos, estruturados e prontos para serem usados nas an√°lises subsequentes, incluindo a previs√£o temporal e a clusteriza√ß√£o.

### **5.1 Leitura e verifica√ß√£o dos dados brutos:**  
Carregaremos os dados das empresas de constru√ß√£o e da popula√ß√£o diretamente dos arquivos **raw** para uma an√°lise inicial de estrutura e qualidade.

### **5.2 Transforma√ß√£o e limpeza dos dados:**  
Aplicaremos as transforma√ß√µes necess√°rias para corrigir inconsist√™ncias e preparar os dados para an√°lise:  
- Nos **dados das empresas**, multiplicaremos os valores financeiros por 1.000 para melhor interpreta√ß√£o e removeremos o sufixo `_mil_reais`.  
- Nos **dados populacionais**, filtraremos a faixa et√°ria de 38 a 58 anos e consolidaremos os dados por estado e ano, mantendo apenas os anos de 2007 a 2022.  

### **5.3 Consolida√ß√£o final:**  
Combinaremos as informa√ß√µes econ√¥micas e demogr√°ficas em uma tabela unificada. A partir dessa jun√ß√£o, criaremos a m√©trica da **raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas**, que ser√° crucial para a an√°lise posterior.

### **Fluxo esperado nesta etapa:**  
- **Camada Raw** ‚Üí **Transforma√ß√£o e limpeza** ‚Üí **Consolida√ß√£o** ‚Üí **Camada Processed**  

Esse processo assegura que os dados estejam organizados e limpos, proporcionando uma base s√≥lida para an√°lises robustas e insights precisos ao longo do projeto.

### **5.1 Leitura e Verifica√ß√£o dos Dados Brutos üìÇ**  

Nesta etapa, faremos a **leitura dos dados brutos** diretamente dos arquivos armazenados na **camada raw**. O objetivo √© verificar se os dados foram carregados corretamente e entender sua estrutura inicial antes do processo de limpeza e transforma√ß√£o.

**Tarefas desta subetapa:**  
- Carregar os dados econ√¥micos de empresas de constru√ß√£o e os dados populacionais.  
- Verificar as primeiras linhas, dimens√µes, nomes de colunas e a presen√ßa de valores nulos ou inconsistentes.  
- Documentar poss√≠veis problemas encontrados para tratamento na pr√≥xima subetapa.  

Essa an√°lise inicial permitir√° identificar rapidamente ajustes necess√°rios e preparar os dados para o pr√©-processamento.

In [4]:
# Definindo o caminho do arquivo na camada raw
caminho_arquivo_empresas = "../01-Base-de-Dados/raw/dados_empresas_raw.csv"

# Lendo o arquivo CSV contendo os dados brutos das empresas de constru√ß√£o
df_empresas_raw = pd.read_csv(caminho_arquivo_empresas)

# Exibindo as primeiras linhas para verificar se o arquivo foi carregado corretamente
print("‚úÖ Dados carregados com sucesso! Visualizando as primeiras linhas do DataFrame:")
df_empresas_raw.head(10)

‚úÖ Dados carregados com sucesso! Visualizando as primeiras linhas do DataFrame:

,estado,ano,materiais_construcao_mil_reais,consumo_intermediario_mil_reais,materiais_terceiros_mil_reais,numero_empresas_ativas,outros_custos_despesas_mil_reais,pessoal_ocupado,receita_bruta_total_mil_reais,receita_liquida_mil_reais,remuneracoes_mil_reais,custos_obras_servicos_mil_reais,custos_terceiros_mil_reais,custos_totais_despesas_mil_reais,gastos_pessoal_mil_reais,valor_adicionado_mil_reais,valor_bruto_producao_mil_reais,valor_obras_servicos_mil_reais
0,Acre,2007,75062.0,102860.0,34.0,89.0,18982.0,4230.0,279427.0,254127.0,41883.0,92158.0,50.0,167193.0,56002.0,151794.0,254655.0,278969.0
1,Acre,2008,154494.0,215491.0,0.0,113.0,31289.0,5129.0,446819.0,413260.0,54418.0,203471.0,0.0,310690.0,75930.0,197500.0,412991.0,443351.0
2,Acre,2009,151690.0,223251.0,4894.0,131.0,34984.0,6398.0,543075.0,483182.0,62213.0,203152.0,5129.0,329485.0,86220.0,244349.0,467599.0,521595.0
3,Acre,2010,232777.0,312247.0,3816.0,149.0,69492.0,6502.0,628673.0,585984.0,78055.0,261823.0,6249.0,446763.0,109200.0,274928.0,587176.0,625113.0
4,Acre,2011,187268.0,296929.0,586.0,181.0,51628.0,6818.0,643797.0,545296.0,95666.0,268742.0,854.0,452621.0,131397.0,262792.0,559721.0,650487.0
5,Acre,2012,216252.0,347210.0,1646.0,149.0,101508.0,6995.0,840751.0,787651.0,98757.0,289706.0,2870.0,533357.0,139272.0,359737.0,706947.0,729792.0
6,Acre,2013,202887.0,350154.0,847.0,165.0,72865.0,8298.0,754999.0,698106.0,134163.0,303897.0,1540.0,563180.0,184878.0,290617.0,640771.0,686111.0
7,Acre,2014,258519.0,455044.0,154.0,182.0,85287.0,8085.0,819144.0,760318.0,150761.0,402861.0,154.0,688777.0,200476.0,322843.0,777887.0,832180.0
8,Acre,2015,131213.0,242378.0,100.0,161.0,69671.0,5572.0,613621.0,563283.0,122558.0,211217.0,100.0,444166.0,163178.0,335378.0,577757.0,598377.0
9,Acre,2016,120678.0,199240.0,0.0,125.0,45969.0,3446.0,505164.0,465542.0,81627.0,181904.0,0.0,333829.0,105956.0,275871.0,475111.0,509585.0

In [5]:
df_empresas_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   estado                            432 non-null    object
 1   ano                               432 non-null    int64
 2   materiais_construcao_mil_reais    432 non-null    float64
 3   consumo_intermediario_mil_reais   432 non-null    float64
 4   materiais_terceiros_mil_reais     432 non-null    float64
 5   numero_empresas_ativas            432 non-null    float64
 6   outros_custos_despesas_mil_reais  432 non-null    float64
 7   pessoal_ocupado                   432 non-null    float64
 8   receita_bruta_total_mil_reais     432 non-null    float64
 9   receita_liquida_mil_reais         432 non-null    float64
 10  remuneracoes_mil_reais            432 non-null    float64
 11  custos_obras_servicos_mil_reais   432 non-null    float64
 12  custos_terceiros_mil_reais        432 non-null    float64
 13  custos_totais_despesas_mil_reais  432 non-null    float64
 14  gastos_pessoal_mil_reais          432 non-null    float64
 15  valor_adicionado_mil_reais        432 non-null    float64
 16  valor_bruto_producao_mil_reais    432 non-null    float64
 17  valor_obras_servicos_mil_reais    432 non-null    float64
dtypes: float64(16), int64(1), object(1)
memory usage: 60.9+ KB

In [6]:
# Definindo o caminho do arquivo na camada raw
caminho_arquivo_populacao = "../01-Base-de-Dados/raw/dados_populacionais_raw.xlsx"

# Lendo o arquivo Excel contendo os dados brutos de proje√ß√£o populacional
df_populacao_raw = pd.read_excel(caminho_arquivo_populacao)

# Exibindo as primeiras linhas para verificar se o arquivo foi carregado corretamente
print("‚úÖ Dados populacionais carregados com sucesso! Visualizando as primeiras linhas do DataFrame:")
df_populacao_raw.head(10)

‚úÖ Dados populacionais carregados com sucesso! Visualizando as primeiras linhas do DataFrame:

,"Proje√ß√µes das Popula√ß√µes, Revis√£o 2024",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75
0,"Brasil, Grandes Regi√µes e Unidades da Federa√ß√£o",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Popula√ß√£o por sexo e idade simples - 2000/2070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,ANO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,IDADE,SEXO,C√ìD.,SIGLA,LOCAL,2000,2001.0,2002.0,2003.0,2004.0,...,2061.0,2062.0,2063.0,2064.0,2065.0,2066.0,2067.0,2068.0,2069.0,2070.0
5,0,Ambos,0,BR,Brasil,3423475,3347313.0,3274356.0,3212295.0,3163041.0,...,1615589.0,1597609.0,1580751.0,1564427.0,1549026.0,1534801.0,1521584.0,1509151.0,1497237.0,1485716.0
6,1,Ambos,0,BR,Brasil,3450022,3406966.0,3332612.0,3261091.0,3200484.0,...,1634395.0,1614666.0,1596716.0,1579885.0,1563579.0,1548205.0,1534002.0,1520805.0,1508394.0,1496496.0
7,2,Ambos,0,BR,Brasil,3461038,3444450.0,3401900.0,3327924.0,3256791.0,...,1655206.0,1633932.0,1614217.0,1596273.0,1579457.0,1563166.0,1547800.0,1533609.0,1520415.0,1508015.0
8,3,Ambos,0,BR,Brasil,3469109,3458052.0,3441638.0,3399284.0,3325501.0,...,1676639.0,1654738.0,1633474.0,1613776.0,1595841.0,1579039.0,1562761.0,1547399.0,1533216.0,1520035.0
9,4,Ambos,0,BR,Brasil,3477903,3466901.0,3455987.0,3439662.0,3397467.0,...,1697627.0,1676166.0,1654275.0,1633030.0,1613338.0,1595416.0,1578625.0,1562356.0,1547006.0,1532831.0

In [7]:
df_populacao_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9014 entries, 0 to 9013
Data columns (total 76 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Proje√ß√µes das Popula√ß√µes, Revis√£o 2024  9012 non-null   object
 1   Unnamed: 1                              9010 non-null   object
 2   Unnamed: 2                              9010 non-null   object
 3   Unnamed: 3                              9010 non-null   object
 4   Unnamed: 4                              9010 non-null   object
 5   Unnamed: 5                              9011 non-null   object
 6   Unnamed: 6                              9010 non-null   float64
 7   Unnamed: 7                              9010 non-null   float64
 8   Unnamed: 8                              9010 non-null   float64
 9   Unnamed: 9                              9010 non-null   float64
 10  Unnamed: 10                             9010 non-null   float64
 11  Unnamed: 11                             9010 non-null   float64
 12  Unnamed: 12                             9010 non-null   float64
 13  Unnamed: 13                             9010 non-null   float64
 14  Unnamed: 14                             9010 non-null   float64
 15  Unnamed: 15                             9010 non-null   float64
 16  Unnamed: 16                             9010 non-null   float64
 17  Unnamed: 17                             9010 non-null   float64
 18  Unnamed: 18                             9010 non-null   float64
 19  Unnamed: 19                             9010 non-null   float64
 20  Unnamed: 20                             9010 non-null   float64
 21  Unnamed: 21                             9010 non-null   float64
 22  Unnamed: 22                             9010 non-null   float64
 23  Unnamed: 23                             9010 non-null   float64
 24  Unnamed: 24                             9010 non-null   float64
 25  Unnamed: 25                             9010 non-null   float64
 26  Unnamed: 26                             9010 non-null   float64
 27  Unnamed: 27                             9010 non-null   float64
 28  Unnamed: 28                             9010 non-null   float64
 29  Unnamed: 29                             9010 non-null   float64
 30  Unnamed: 30                             9010 non-null   float64
 31  Unnamed: 31                             9010 non-null   float64
 32  Unnamed: 32                             9010 non-null   float64
 33  Unnamed: 33                             9010 non-null   float64
 34  Unnamed: 34                             9010 non-null   float64
 35  Unnamed: 35                             9010 non-null   float64
 36  Unnamed: 36                             9010 non-null   float64
 37  Unnamed: 37                             9010 non-null   float64
 38  Unnamed: 38                             9010 non-null   float64
 39  Unnamed: 39                             9010 non-null   float64
 40  Unnamed: 40                             9010 non-null   float64
 41  Unnamed: 41                             9010 non-null   float64
 42  Unnamed: 42                             9010 non-null   float64
 43  Unnamed: 43                             9010 non-null   float64
 44  Unnamed: 44                             9010 non-null   float64
 45  Unnamed: 45                             9010 non-null   float64
 46  Unnamed: 46                             9010 non-null   float64
 47  Unnamed: 47                             9010 non-null   float64
 48  Unnamed: 48                             9010 non-null   float64
 49  Unnamed: 49                             9010 non-null   float64
 50  Unnamed: 50                             9010 non-null   float64
 51  Unnamed: 51                             9010 non-null   float64
 52  Unnamed: 52                             9010 non-null   float64
 53  Unnamed: 53                             9010 non-null   float64
 54  Unnamed: 54                             9010 non-null   float64
 55  Unnamed: 55                             9010 non-null   float64
 56  Unnamed: 56                             9010 non-null   float64
 57  Unnamed: 57                             9010 non-null   float64
 58  Unnamed: 58                             9010 non-null   float64
 59  Unnamed: 59                             9010 non-null   float64
 60  Unnamed: 60                             9010 non-null   float64
 61  Unnamed: 61                             9010 non-null   float64
 62  Unnamed: 62                             9010 non-null   float64
 63  Unnamed: 63                             9010 non-null   float64
 64  Unnamed: 64                             9010 non-null   float64
 65  Unnamed: 65                             9010 non-null   float64
 66  Unnamed: 66                             9010 non-null   float64
 67  Unnamed: 67                             9010 non-null   float64
 68  Unnamed: 68                             9010 non-null   float64
 69  Unnamed: 69                             9010 non-null   float64
 70  Unnamed: 70                             9010 non-null   float64
 71  Unnamed: 71                             9010 non-null   float64
 72  Unnamed: 72                             9010 non-null   float64
 73  Unnamed: 73                             9010 non-null   float64
 74  Unnamed: 74                             9010 non-null   float64
 75  Unnamed: 75                             9010 non-null   float64
dtypes: float64(70), object(6)
memory usage: 5.2+ MB

---

#### üí° **Observa√ß√µes**

#### **Tabela 1: Dados das Empresas de Constru√ß√£o Civil**
Ap√≥s a an√°lise inicial, destacamos os seguintes pontos:

- As vari√°veis econ√¥micas est√£o bem organizadas e n√£o apresentam registros ausentes.  
- Algumas vari√°veis financeiras, como `materiais_construcao_mil_reais` e `consumo_intermediario_mil_reais`, est√£o expressas em milhares de reais (mil). Para facilitar a leitura e interpreta√ß√£o, multiplicaremos essas vari√°veis por 1.000 para exibir os valores em reais.  
- A vari√°vel `ano` est√° armazenada como `int64`, o que √© adequado, mas pode ser convertida para um tipo temporal, se necess√°rio, em an√°lises futuras.

**A√ß√µes propostas:**  
- Multiplicar as vari√°veis financeiras por 1.000 para fornecer uma melhor visualiza√ß√£o dos valores e facilitar a an√°lise.  

---

#### **Tabela 2: Dados Populacionais**
A tabela de dados populacionais apresenta alguns desafios observados durante a leitura:

- As primeiras linhas do arquivo cont√™m informa√ß√µes descritivas, e os dados reais come√ßam no √≠ndice **4**.  
- As colunas t√™m nomes n√£o definidos corretamente (`Unnamed`), mas podemos reorganizar os dados para facilitar o acesso √†s informa√ß√µes.  
- Precisaremos considerar apenas os registros referentes a **estados individuais (UFs)**, ignorando valores agregados como Brasil e Grandes Regi√µes.  
- O c√°lculo da popula√ß√£o da faixa et√°ria de **38 a 58 anos** (ambos os sexos) exigir√° a filtragem e soma dessas faixas espec√≠ficas.

**A√ß√µes propostas:**  
- Remover as linhas de cabe√ßalho desnecess√°rias e ajustar os nomes das colunas.  
- Filtrar os dados de ambos os sexos (c√≥digo "Ambos") e consolidar a faixa de 38 a 58 anos por estado e ano.  
- Preparar a tabela para combina√ß√£o com os dados das empresas na pr√≥xima etapa de pr√©-processamento.

---

### **5.2 Pr√©-processamento e Ajuste dos Dados** üîÑ 
Nesta subetapa, realizaremos o pr√©-processamento necess√°rio em ambas as tabelas ‚Äî **dados das empresas de constru√ß√£o** e **dados populacionais** ‚Äî para garantir que estejam devidamente ajustadas e prontas para as etapas posteriores de an√°lise.

#### **Objetivos do Pr√©-processamento**  

1. **Tabela 1: Dados das Empresas de Constru√ß√£o**  
   - **Multiplica√ß√£o dos valores financeiros por 1.000:** Embora os dados estejam em milhares de reais, realizaremos a convers√£o para valores reais para facilitar a interpreta√ß√£o e a an√°lise visual.  
   - **Verifica√ß√£o do tipo de dados:** Confirmaremos que o campo `ano` est√° no formato correto e faremos ajustes caso necess√°rio.  
   - **Detec√ß√£o de valores ausentes ou inconsistentes:** Embora a tabela inicialmente n√£o apresente valores nulos, verificaremos quaisquer inconsist√™ncias antes de avan√ßar.

2. **Tabela 2: Dados Populacionais**  
   - **Remo√ß√£o de linhas desnecess√°rias:** As primeiras linhas do arquivo cont√™m informa√ß√µes descritivas e n√£o estruturadas, que ser√£o removidas para garantir que o DataFrame esteja limpo.  
   - **Ajuste dos nomes das colunas:** Os nomes atuais das colunas est√£o desorganizados (muitos ‚ÄúUnnamed‚Äù) e precisam ser corrigidos para facilitar o acesso √†s informa√ß√µes.  
   - **Filtragem por estado e faixa et√°ria:** Consideraremos apenas os estados brasileiros e filtraremos a faixa et√°ria de **38 a 58 anos** (ambos os sexos).  
   - **Consolida√ß√£o dos dados por estado e ano:** Somaremos a popula√ß√£o de 38 a 58 anos para cada estado e ano, resultando em uma m√©trica clara e unificada para a an√°lise posterior, al√©m de considerar apenas os anos de 2007 √† 2022

### **Resumo das A√ß√µes:**  
- Para a **Tabela 1 (empresas de constru√ß√£o):**  
  - Multiplica√ß√£o dos valores financeiros.  
  - Verifica√ß√£o e ajuste dos tipos de dados.  

- Para a **Tabela 2 (popula√ß√£o):**  
  - Limpeza de dados desnecess√°rios.  
  - Renomea√ß√£o das colunas para facilitar o acesso.  
  - Filtragem e consolida√ß√£o da faixa et√°ria, n√≠vel geogr√°fico e anos desejados.

Com essas transforma√ß√µes, os dados estar√£o adequadamente organizados e prontos para a consolida√ß√£o e c√°lculo da raz√£o consumidores/empresas.

In [20]:
def transformar_dados_empresas(df):
    """
    Fun√ß√£o para aplicar as transforma√ß√µes necess√°rias na tabela de dados de empresas de constru√ß√£o.

    - Multiplica as vari√°veis financeiras por 1.000 para melhor visualiza√ß√£o.
    - Remove o sufixo '_mil_reais' das colunas financeiras.
    - Converte as colunas 'numero_empresas_ativas' e 'pessoal_ocupado' para inteiros.
    - Converte a coluna 'ano' para string para facilitar a an√°lise temporal.

    Par√¢metros:
    - df (pd.DataFrame): DataFrame bruto contendo os dados das empresas.

    Retorna:
    - pd.DataFrame: DataFrame transformado e pronto para a pr√≥xima etapa.
    """

    # üîÑ Identificar e selecionar as colunas financeiras
    colunas_financeiras = [col for col in df.columns if col.endswith("_mil_reais")]
    print("üîç Colunas financeiras identificadas:", colunas_financeiras)

    # üîÑ Multiplicar os valores financeiros por 1.000
    df[colunas_financeiras] = df[colunas_financeiras] * 1000

    # üîÑ Renomear as colunas para remover o sufixo '_mil_reais'
    df.rename(columns=lambda x: x.replace("_mil_reais", ""), inplace=True)

    # üîÑ Converter as colunas de contagem para inteiros
    df["numero_empresas_ativas"] = pd.to_numeric(df["numero_empresas_ativas"], errors="coerce").astype("int32")
    df["pessoal_ocupado"] = pd.to_numeric(df["pessoal_ocupado"], errors="coerce").astype("int32")

    # üîÑ Converter a coluna 'ano' para string
    df["ano"] = df["ano"].astype(str)

    print("‚úÖ Transforma√ß√µes conclu√≠das!")
    return df

# üü¢ Aplicando a fun√ß√£o e salvando o resultado
df_empresas_processed = transformar_dados_empresas(df_empresas_raw)
df_empresas_processed.to_csv("../01-Base-de-Dados/processed/dados_empresas_processed.csv", index=False)
print("\nüíæ Dados salvos com sucesso em '01-Base-de-Dados/processed/dados_empresas_processed.csv'!")

üîç Colunas financeiras identificadas: []
‚úÖ Transforma√ß√µes conclu√≠das!

üíæ Dados salvos com sucesso em '01-Base-de-Dados/processed/dados_empresas_processed.csv'!

In [15]:
df_empresas_processed.head(10)

,estado,ano,materiais_construcao,consumo_intermediario,materiais_terceiros,numero_empresas_ativas,outros_custos_despesas,pessoal_ocupado,receita_bruta_total,receita_liquida,remuneracoes,custos_obras_servicos,custos_terceiros,custos_totais_despesas,gastos_pessoal,valor_adicionado,valor_bruto_producao,valor_obras_servicos
0,Acre,2007,75062000.0,102860000.0,34000.0,89.0,18982000.0,4230.0,279427000.0,254127000.0,41883000.0,92158000.0,50000.0,167193000.0,56002000.0,151794000.0,254655000.0,278969000.0
1,Acre,2008,154494000.0,215491000.0,0.0,113.0,31289000.0,5129.0,446819000.0,413260000.0,54418000.0,203471000.0,0.0,310690000.0,75930000.0,197500000.0,412991000.0,443351000.0
2,Acre,2009,151690000.0,223251000.0,4894000.0,131.0,34984000.0,6398.0,543075000.0,483182000.0,62213000.0,203152000.0,5129000.0,329485000.0,86220000.0,244349000.0,467599000.0,521595000.0
3,Acre,2010,232777000.0,312247000.0,3816000.0,149.0,69492000.0,6502.0,628673000.0,585984000.0,78055000.0,261823000.0,6249000.0,446763000.0,109200000.0,274928000.0,587176000.0,625113000.0
4,Acre,2011,187268000.0,296929000.0,586000.0,181.0,51628000.0,6818.0,643797000.0,545296000.0,95666000.0,268742000.0,854000.0,452621000.0,131397000.0,262792000.0,559721000.0,650487000.0
5,Acre,2012,216252000.0,347210000.0,1646000.0,149.0,101508000.0,6995.0,840751000.0,787651000.0,98757000.0,289706000.0,2870000.0,533357000.0,139272000.0,359737000.0,706947000.0,729792000.0
6,Acre,2013,202887000.0,350154000.0,847000.0,165.0,72865000.0,8298.0,754999000.0,698106000.0,134163000.0,303897000.0,1540000.0,563180000.0,184878000.0,290617000.0,640771000.0,686111000.0
7,Acre,2014,258519000.0,455044000.0,154000.0,182.0,85287000.0,8085.0,819144000.0,760318000.0,150761000.0,402861000.0,154000.0,688777000.0,200476000.0,322843000.0,777887000.0,832180000.0
8,Acre,2015,131213000.0,242378000.0,100000.0,161.0,69671000.0,5572.0,613621000.0,563283000.0,122558000.0,211217000.0,100000.0,444166000.0,163178000.0,335378000.0,577757000.0,598377000.0
9,Acre,2016,120678000.0,199240000.0,0.0,125.0,45969000.0,3446.0,505164000.0,465542000.0,81627000.0,181904000.0,0.0,333829000.0,105956000.0,275871000.0,475111000.0,509585000.0

In [21]:
def transformar_dados_populacionais(df):
    """
    Fun√ß√£o para aplicar as transforma√ß√µes necess√°rias na tabela de dados populacionais do IBGE.

    - Seleciona as linhas corretas e redefine o cabe√ßalho das colunas.
    - Ajusta os nomes das colunas (anos) e filtra os anos de 2007 a 2022.
    - Filtra dados para a faixa de idade de 38 a 58 anos e localidades correspondentes aos estados brasileiros.
    - Agrupa a popula√ß√£o total de 38 a 58 anos por estado e ano.

    Par√¢metros:
    - df (pd.DataFrame): DataFrame bruto contendo os dados populacionais.

    Retorna:
    - pd.DataFrame: DataFrame transformado e pronto para a pr√≥xima etapa.
    """

    # üîÑ Selecionar as linhas corretas (a partir do √≠ndice 4) e redefinir o cabe√ßalho das colunas
    df = df.iloc[4:].reset_index(drop=True)
    df.columns = df.iloc[0]  # Define a linha correta como cabe√ßalho
    df = df.drop(index=0).reset_index(drop=True)  # Remove a linha redundante

    # üîÑ Ajustar os nomes das colunas (anos) e converter para strings adequadas
    df.columns = [str(int(col)) if str(col).replace('.0', '').isdigit() else col for col in df.columns]

    # üîÑ Selecionar as colunas relevantes (metadados e anos de 2007 a 2022)
    colunas_relevantes = ['IDADE', 'SEXO', 'LOCAL'] + [str(ano) for ano in range(2007, 2023)]
    df = df[colunas_relevantes]

    # üîÑ Filtrar dados: faixa et√°ria de 38 a 58 anos e sexo "Ambos"
    df = df[(df['IDADE'].between(38, 58)) & (df['SEXO'] == "Ambos")]

    # üîÑ Manter somente os estados brasileiros
    estados_brasileiros = [
        'Rond√¥nia', 'Acre', 'Amazonas', 'Roraima', 'Par√°', 'Amap√°', 'Tocantins',
        'Maranh√£o', 'Piau√≠', 'Cear√°', 'Rio Grande do Norte', 'Para√≠ba',
        'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais',
        'Esp√≠rito Santo', 'Rio de Janeiro', 'S√£o Paulo', 'Paran√°',
        'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul',
        'Mato Grosso', 'Goi√°s', 'Distrito Federal'
    ]
    df = df[df['LOCAL'].isin(estados_brasileiros)]

    # üîÑ Transformar anos em colunas para linhas e somar a popula√ß√£o por estado e ano
    df = (
        df.melt(id_vars=['LOCAL'], value_vars=[str(ano) for ano in range(2007, 2023)],
                var_name='ano', value_name='populacao')
        .groupby(['LOCAL', 'ano'], as_index=False)['populacao'].sum()
        .rename(columns={'LOCAL': 'estado', 'populacao': 'populacao_38_58_anos'})
    )

    # üîÑ Garantir que o ano esteja correto como inteiro
    df['ano'] = pd.to_numeric(df['ano'], errors='coerce').astype(int)

    # üîÑ Converter a coluna de popula√ß√£o para inteiro
    df['populacao_38_58_anos'] = df['populacao_38_58_anos'].astype(int)

    print("‚úÖ Transforma√ß√µes conclu√≠das!")
    return df

# üü¢ Aplicando a fun√ß√£o e salvando o resultado
df_populacao_processed = transformar_dados_populacionais(df_populacao_raw)
df_populacao_processed.to_csv("../01-Base-de-Dados/processed/dados_populacionais_processed.csv", index=False)
print("\nüíæ Dados salvos com sucesso em '01-Base-de-Dados/processed/dados_populacionais_processed.csv'!")

‚úÖ Transforma√ß√µes conclu√≠das!

üíæ Dados salvos com sucesso em '01-Base-de-Dados/processed/dados_populacionais_processed.csv'!

In [17]:
df_populacao_processed.head()

  estado   ano  populacao_38_58_anos
0   Acre  2007                118936
1   Acre  2008                124039
2   Acre  2009                129247
3   Acre  2010                134483
4   Acre  2011                139739

### **5.3 Consolida√ß√£o Final: Jun√ß√£o e C√°lculo da Raz√£o Popula√ß√£o/Empresas** üîó  

Ap√≥s a prepara√ß√£o individual das tabelas de empresas e popula√ß√£o, realizamos a jun√ß√£o final para consolidar as informa√ß√µes em um √∫nico DataFrame. Utilizamos as colunas `estado` e `ano` como chaves de jun√ß√£o.  

Ap√≥s o merge, calculamos a **raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas**. Essa m√©trica fornece uma vis√£o importante da rela√ß√£o entre a for√ßa consumidora potencial e a quantidade de empresas dispon√≠veis, auxiliando na identifica√ß√£o de estados mais saturados ou com maior potencial de expans√£o.  

### **Etapas do processo:**  
1. **Valida√ß√µes:** Verifica√ß√£o da integridade dos dados, garantindo que:
   - As colunas necess√°rias estejam presentes nas tabelas de empresas e popula√ß√£o.
   - N√£o existam valores nulos nas chaves de jun√ß√£o (`estado` e `ano`).
   - As colunas `ano` tenham o mesmo tipo de dado para permitir o merge correto.

2. **Jun√ß√£o das tabelas:** Utilizamos um merge do tipo `inner join` para garantir que apenas os registros com correspond√™ncia em ambas as tabelas sejam considerados.

3. **C√°lculo da nova m√©trica:** Calculamos a raz√£o `populacao_38_58_anos / numero_empresas_ativas`, criando a coluna `razao_populacao_empresas`.

4. **Salvamento do resultado final:** A tabela consolidada foi salva na camada **processed** com o nome `df_final_processed.csv`.

In [22]:
def juntar_tabelas_e_calcular_razao(df_empresas, df_populacao, caminho_saida):
    """
    Fun√ß√£o para juntar os dados de empresas e de popula√ß√£o, criando uma nova m√©trica:
    - Calcula a raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas.

    Etapas:
    - Valida√ß√£o da integridade das tabelas de entrada.
    - Convers√£o da coluna 'ano' para o mesmo tipo de dado.
    - Realiza√ß√£o do merge das tabelas usando 'estado' e 'ano' como chaves.
    - C√°lculo da nova m√©trica (razao_populacao_empresas).
    - Salva a tabela resultante na camada processed.

    Par√¢metros:
    - df_empresas (pd.DataFrame): DataFrame contendo os dados das empresas processadas.
    - df_populacao (pd.DataFrame): DataFrame contendo os dados populacionais processados.
    - caminho_saida (str): Caminho onde o DataFrame resultante ser√° salvo.

    Retorna:
    - pd.DataFrame: DataFrame resultante com a nova m√©trica calculada.
    """

    # üîç Valida√ß√£o 1: Verificar se as colunas esperadas est√£o presentes
    colunas_necessarias_empresas = {'estado', 'ano', 'numero_empresas_ativas'}
    colunas_necessarias_populacao = {'estado', 'ano', 'populacao_38_58_anos'}
    
    if not colunas_necessarias_empresas.issubset(set(df_empresas.columns)):
        raise ValueError(f"As colunas {colunas_necessarias_empresas} est√£o ausentes no DataFrame de empresas.")
    
    if not colunas_necessarias_populacao.issubset(set(df_populacao.columns)):
        raise ValueError(f"As colunas {colunas_necessarias_populacao} est√£o ausentes no DataFrame de popula√ß√£o.")

    # üîç Valida√ß√£o 2: Verificar se n√£o h√° valores NaN nas chaves de jun√ß√£o
    if df_empresas[['estado', 'ano']].isna().any().any():
        raise ValueError("Existem valores NaN nas chaves de jun√ß√£o no DataFrame de empresas.")
    
    if df_populacao[['estado', 'ano']].isna().any().any():
        raise ValueError("Existem valores NaN nas chaves de jun√ß√£o no DataFrame de popula√ß√£o.")

    # üîÑ Garantir que a coluna 'ano' seja do mesmo tipo em ambas as tabelas (inteiro)
    df_empresas['ano'] = pd.to_numeric(df_empresas['ano'], errors='coerce').astype(int)
    df_populacao['ano'] = pd.to_numeric(df_populacao['ano'], errors='coerce').astype(int)

    # üîÑ Realizar o merge usando 'estado' e 'ano' como chaves
    df_merged = pd.merge(df_empresas, df_populacao, on=['estado', 'ano'], how='inner')

    # üîÑ Calcular a raz√£o de popula√ß√£o por empresa ativa
    df_merged['razao_populacao_empresas'] = (
        df_merged['populacao_38_58_anos'] / df_merged['numero_empresas_ativas']
    )

    # üîç Verificar se a nova m√©trica foi calculada corretamente
    if df_merged['razao_populacao_empresas'].isna().any():
        raise ValueError("A raz√£o popula√ß√£o/empresas cont√©m valores NaN inesperados.")

    print("‚úÖ Jun√ß√£o bem-sucedida e raz√£o popula√ß√£o/empresas calculada.")

    # üíæ Salvar o DataFrame resultante com o novo nome
    df_merged.to_csv(caminho_saida, index=False)
    print(f"üíæ Dados salvos com sucesso em '{caminho_saida}'!")

    return df_merged

# üü¢ Chamando a fun√ß√£o
caminho_arquivo_saida = "../01-Base-de-Dados/processed/df_final_processed.csv"
df_final = juntar_tabelas_e_calcular_razao(df_empresas_processed, df_populacao_processed, caminho_arquivo_saida)

# Visualizar as primeiras linhas
print("üìä Primeiras linhas da tabela final:")
df_final.head()

‚úÖ Jun√ß√£o bem-sucedida e raz√£o popula√ß√£o/empresas calculada.
üíæ Dados salvos com sucesso em '../01-Base-de-Dados/processed/df_final_processed.csv'!
üìä Primeiras linhas da tabela final:

,estado,ano,materiais_construcao,consumo_intermediario,materiais_terceiros,numero_empresas_ativas,outros_custos_despesas,pessoal_ocupado,receita_bruta_total,receita_liquida,remuneracoes,custos_obras_servicos,custos_terceiros,custos_totais_despesas,gastos_pessoal,valor_adicionado,valor_bruto_producao,valor_obras_servicos,populacao_38_58_anos,razao_populacao_empresas
0,Acre,2007,75062000.0,102860000.0,34000.0,89,18982000.0,4230,279427000.0,254127000.0,41883000.0,92158000.0,50000.0,167193000.0,56002000.0,151794000.0,254655000.0,278969000.0,118936,1336.359551
1,Acre,2008,154494000.0,215491000.0,0.0,113,31289000.0,5129,446819000.0,413260000.0,54418000.0,203471000.0,0.0,310690000.0,75930000.0,197500000.0,412991000.0,443351000.0,124039,1097.690265
2,Acre,2009,151690000.0,223251000.0,4894000.0,131,34984000.0,6398,543075000.0,483182000.0,62213000.0,203152000.0,5129000.0,329485000.0,86220000.0,244349000.0,467599000.0,521595000.0,129247,986.618321
3,Acre,2010,232777000.0,312247000.0,3816000.0,149,69492000.0,6502,628673000.0,585984000.0,78055000.0,261823000.0,6249000.0,446763000.0,109200000.0,274928000.0,587176000.0,625113000.0,134483,902.570470
4,Acre,2011,187268000.0,296929000.0,586000.0,181,51628000.0,6818,643797000.0,545296000.0,95666000.0,268742000.0,854000.0,452621000.0,131397000.0,262792000.0,559721000.0,650487000.0,139739,772.038674

In [26]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   estado                    432 non-null    object
 1   ano                       432 non-null    int32
 2   materiais_construcao      432 non-null    float64
 3   consumo_intermediario     432 non-null    float64
 4   materiais_terceiros       432 non-null    float64
 5   numero_empresas_ativas    432 non-null    int32
 6   outros_custos_despesas    432 non-null    float64
 7   pessoal_ocupado           432 non-null    int32
 8   receita_bruta_total       432 non-null    float64
 9   receita_liquida           432 non-null    float64
 10  remuneracoes              432 non-null    float64
 11  custos_obras_servicos     432 non-null    float64
 12  custos_terceiros          432 non-null    float64
 13  custos_totais_despesas    432 non-null    float64
 14  gastos_pessoal            432 non-null    float64
 15  valor_adicionado          432 non-null    float64
 16  valor_bruto_producao      432 non-null    float64
 17  valor_obras_servicos      432 non-null    float64
 18  populacao_38_58_anos      432 non-null    int32
 19  razao_populacao_empresas  432 non-null    float64
dtypes: float64(15), int32(4), object(1)
memory usage: 60.9+ KB

In [29]:
# üìö Dicion√°rio de Colunas e Descri√ß√µes
# Este dicion√°rio cont√©m os nomes das colunas da tabela final e suas respectivas descri√ß√µes.
# Ele serve para documentar de forma clara o significado de cada vari√°vel, facilitando a interpreta√ß√£o dos dados nas an√°lises subsequentes.

dicionario_colunas = {
    "estado": "Nome do estado brasileiro onde as empresas de constru√ß√£o atuam.",
    "ano": "Ano de refer√™ncia dos dados econ√¥micos e populacionais.",
    "materiais_construcao": "Valor gasto com materiais de constru√ß√£o pelas empresas.",
    "consumo_intermediario": "Consumo intermedi√°rio total (insumos, bens e servi√ßos).",
    "materiais_terceiros": "Custos de materiais de constru√ß√£o usados em obras de terceiros.",
    "numero_empresas_ativas": "N√∫mero de empresas de constru√ß√£o civil ativas no estado.",
    "outros_custos_despesas": "Outros custos e despesas operacionais das empresas.",
    "pessoal_ocupado": "N√∫mero de pessoas empregadas nas empresas no final do ano.",
    "receita_bruta_total": "Receita bruta total obtida pelas empresas no ano.",
    "receita_liquida": "Receita l√≠quida ap√≥s dedu√ß√µes como impostos e custos.",
    "remuneracoes": "Gastos com sal√°rios, retiradas e outras remunera√ß√µes.",
    "custos_obras_servicos": "Custos totais das obras e/ou servi√ßos realizados.",
    "custos_terceiros": "Custos das obras e incorpora√ß√µes de im√≥veis de terceiros.",
    "custos_totais_despesas": "Total de custos e despesas das empresas no ano.",
    "gastos_pessoal": "Total de gastos com pessoal, incluindo sal√°rios e benef√≠cios.",
    "valor_adicionado": "Valor adicionado pelas empresas ao setor econ√¥mico.",
    "valor_bruto_producao": "Valor bruto total da produ√ß√£o no setor de constru√ß√£o.",
    "valor_obras_servicos": "Valor das incorpora√ß√µes, obras e/ou servi√ßos realizados.",
    "populacao_38_58_anos": "Popula√ß√£o total de 38 a 58 anos no estado e ano de refer√™ncia.",
    "razao_populacao_empresas": "Raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas.",
}

# üîÑ Transformando o dicion√°rio em um DataFrame para facilitar a visualiza√ß√£o
df_dicionario = pd.DataFrame(list(dicionario_colunas.items()), columns=["Coluna", "Descri√ß√£o"])

# üîß Ajuste da configura√ß√£o de exibi√ß√£o do pandas para evitar o truncamento de descri√ß√µes longas
pd.set_option('display.max_colwidth', None)

# üìä Exibir o DataFrame contendo o dicion√°rio de colunas e descri√ß√µes
df_dicionario

,Coluna,Descri√ß√£o
0,estado,Nome do estado brasileiro onde as empresas de constru√ß√£o atuam.
1,ano,Ano de refer√™ncia dos dados econ√¥micos e populacionais.
2,materiais_construcao,Valor gasto com materiais de constru√ß√£o pelas empresas.
3,consumo_intermediario,"Consumo intermedi√°rio total (insumos, bens e servi√ßos)."
4,materiais_terceiros,Custos de materiais de constru√ß√£o usados em obras de terceiros.
5,numero_empresas_ativas,N√∫mero de empresas de constru√ß√£o civil ativas no estado.
6,outros_custos_despesas,Outros custos e despesas operacionais das empresas.
7,pessoal_ocupado,N√∫mero de pessoas empregadas nas empresas no final do ano.
8,receita_bruta_total,Receita bruta total obtida pelas empresas no ano.
9,receita_liquida,Receita l√≠quida ap√≥s dedu√ß√µes como impostos e custos.
10,remuneracoes,"Gastos com sal√°rios, retiradas e outras remunera√ß√µes."
11,custos_obras_servicos,Custos totais das obras e/ou servi√ßos realizados.
12,custos_terceiros,Custos das obras e incorpora√ß√µes de im√≥veis de terceiros.
13,custos_totais_despesas,Total de custos e despesas das empresas no ano.
14,gastos_pessoal,"Total de gastos com pessoal, incluindo sal√°rios e benef√≠cios."
15,valor_adicionado,Valor adicionado pelas empresas ao setor econ√¥mico.
16,valor_bruto_producao,Valor bruto total da produ√ß√£o no setor de constru√ß√£o.
17,valor_obras_servicos,"Valor das incorpora√ß√µes, obras e/ou servi√ßos realizados."
18,populacao_38_58_anos,Popula√ß√£o total de 38 a 58 anos no estado e ano de refer√™ncia.
19,razao_populacao_empresas,Raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas.

In [31]:
# Contando o n√∫mero de linhas duplicadas no DataFrame
num_duplicatas = df_final.duplicated().sum()

# Exibindo o n√∫mero de linhas duplicadas
print(f"Total de linhas duplicadas: {num_duplicatas}")

Total de linhas duplicadas: 0

## **6. An√°lise Explorat√≥ria de Dados (EDA) üìä** <a id="6-an√°lise-explorat√≥ria-de-dados-eda"></a>  
[Voltar ao Sum√°rio](#sum√°rio)

Nesta etapa, realizaremos uma **an√°lise explorat√≥ria focada na raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas por estado**. O objetivo √© entender o comportamento dessa raz√£o ao longo do tempo e identificar estados que oferecem oportunidades de crescimento ou apresentam satura√ß√£o.

---

### **6.1 An√°lise Geral da Raz√£o**  
Nesta subetapa, analisaremos a **distribui√ß√£o geral da raz√£o** entre popula√ß√£o e empresas ativas.  

- **Resumo estat√≠stico:** M√©dia, mediana, m√≠nimo, m√°ximo e desvio padr√£o.  
- **Identifica√ß√£o dos estados com maior e menor raz√£o m√©dia.**  
- **Visualiza√ß√µes:** Histogramas e boxplots da distribui√ß√£o geral.

**Por que essa an√°lise √© importante:**  
Nos permitir√° identificar quais estados t√™m uma raz√£o alta (potencial satura√ß√£o) e quais apresentam valores baixos (potenciais oportunidades).

---

### **6.2 Evolu√ß√£o Temporal da Raz√£o**  
Focaremos na **m√©dia da raz√£o ao longo do tempo** para entender se h√° uma tend√™ncia geral de crescimento ou estabilidade no pa√≠s.  

- **M√©dia anual da raz√£o** considerando todos os estados.  
- **Visualiza√ß√£o:** Gr√°fico de linha mostrando a evolu√ß√£o temporal da m√©dia.  
- **Medida de estabilidade:** Desvio padr√£o anual da raz√£o para verificar a volatilidade.  

**Por que essa an√°lise √© importante:**  
Nos ajudar√° a verificar se a raz√£o est√° aumentando consistentemente, estabilizando-se ou apresentando flutua√ß√µes ao longo do tempo.

---

### **6.3 Comportamento Temporal por Estado**  
Nesta subetapa, analisaremos o **comportamento individual de cada estado ao longo dos anos**.  

- **Gr√°ficos de linha por estado:** Para observar a evolu√ß√£o temporal.  
- **Inclina√ß√£o da tend√™ncia linear:** Para identificar crescimento, estabilidade ou queda.  

**Por que essa an√°lise √© importante:**  
Permite detectar quais estados est√£o se destacando positivamente ou negativamente na evolu√ß√£o da raz√£o ao longo do tempo.

---

### **6.4 Estados Promissores ou Saturados**  
Classificaremos os estados em **grupos com base na taxa de crescimento e volatilidade** da raz√£o.  

- **C√°lculo da taxa de crescimento por estado.**  
- **An√°lise de volatilidade (desvio padr√£o da raz√£o).**  
- **Visualiza√ß√£o:** Gr√°fico de dispers√£o mostrando o crescimento versus a volatilidade.  

**Por que essa an√°lise √© importante:**  
Nos permitir√° identificar estados promissores para novos investimentos e aqueles que j√° apresentam sinais de satura√ß√£o no mercado.

---

### **Fluxo esperado nesta etapa:**  
1. Entendimento inicial da raz√£o de popula√ß√£o por empresas.  
2. Identifica√ß√£o de padr√µes temporais e regionais.  
3. An√°lise de oportunidades ou riscos para investimentos futuros.

### **6.1 Evolu√ß√£o Temporal da Raz√£o Popula√ß√£o/Empresas** üìà  
Nesta subetapa, analisaremos a **varia√ß√£o temporal da raz√£o entre a popula√ß√£o de 38 a 58 anos e o n√∫mero de empresas ativas** de cada estado no per√≠odo de **2007 a 2020**. Essa an√°lise fornecer√° um panorama geral de como a disponibilidade de empresas em rela√ß√£o √† popula√ß√£o-alvo tem evolu√≠do ao longo do tempo.

#### **Objetivo:**
- Identificar tend√™ncias de crescimento, decl√≠nio ou estabilidade na raz√£o ao longo dos anos.
- Destacar os estados que apresentam padr√µes distintos (crescimento acelerado, queda significativa, estabilidade, etc.).

#### **Etapas da An√°lise:**
1. **Gr√°ficos de Linha por Estado:**  
   Exibiremos a evolu√ß√£o temporal da raz√£o para cada estado, identificando padr√µes gerais e destacando poss√≠veis varia√ß√µes significativas.

2. **M√©dia da Raz√£o por Estado:**  
   Calcularemos a m√©dia da raz√£o ao longo do tempo para cada estado e utilizaremos uma visualiza√ß√£o complementar para destacar regi√µes com valores consistentemente altos ou baixos.

3. **Identifica√ß√£o de Picos e Quedas:**  
   Avaliaremos a varia√ß√£o percentual da raz√£o ano a ano, destacando momentos de crescimento acelerado ou quedas bruscas.

#### **Por que isso importa?**
A an√°lise temporal inicial oferece uma **vis√£o geral essencial** para identificar estados promissores ou saturados. Isso permitir√°, nas pr√≥ximas subetapas, aprofundarmos a an√°lise em locais estrat√©gicos para previs√£o e segmenta√ß√£o.

---